h1 {{theme}}
h2 {{questionText}}
h3 {{stats}}
div(id='columns')
	div(class='column',id='1', draggable='true',(dragstart)="onDragStart($event, dragData)")
		header A
		p {{reponse1}}
	div(class='column',id='2', draggable='true',(dragstart)="onDragStart($event, dragData)")
		header B
		p {{reponse2}}
	div(class='column',id='3', draggable='true',(dragstart)="onDragStart($event, dragData)")
		header C
		p {{reponse3}}
	div(class='column',[class.good]="goodClassBool",[class.bad]="badClassBool", (drop)="onDrop($event, dropData)", (dragover)="allowDrop($event)")
		header Reponse
		p {{reponseChoisi}}
div#buttondiv
	a(class='button', id='id_button_back', (click)="clickMenu()")
		span Retour au Menu
	a(class='button', id='id_button_next', (click)="clickSuivant()")
		span Suivant
p {{err}}
script(src='/javascripts/testUtil.js', type='text/javascript')
script(src='/javascripts/quicktest.js', type='text/javascript')
